

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: white;
}

.logo {
  margin: 10px 10px;
}

.logo img {
  width: 100px;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  font-size: 12px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #808080;
}


.article {
  width: 100%;
  background-color: white;
}

.relative {
  position: relative;
}

.flower-img {
  margin: 0 0 0 auto;
  display: block;
  width: 60%;
}

.catchcopy {
  position: absolute;
  top: 10%;
  left: 19%;
  font-size: 50px;
  color: #C71585;
  font-family: 'Indie Flower', cursive;
  line-height: 80px;
}

.text {
  position: absolute;
  top: 60%;
  left: 19%;
  font-size: 20px;
  color: #C71585;
  font-weight: bold;
}

.color-change {
  color: #20B2AA;
}

.company-name {
  position: absolute;
  top :70%;
  left: 19%;
  font-size: 12px;
  color: #808080;
  line-height: 20px;
}

/* ここからNews */
.news {
  width: 100%;
  background-color: white;
  margin: 30px 0;
}

.news-headline{
  margin: 0 auto 30px 200px;
}

.news-header {
  font-size: 12px;
  color: #C71585;
  font-family: 'Indie Flower', cursive;
  line-height: 30px;
}

.news-title {
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}


.news-table {
  width: 70%;
  display: block;
  border-bottom: solid 2px #808080;
  border-top: solid 2px #808080;
  padding: 20px 0px;
  margin: 0 auto 50px 200px;
  border-collapse: collapse;
}


.news-tr {
  font-size: 12px;
  border-bottom: solid 0.5px #808080;
  border-collapse: collapse;
  display: block;
  padding-bottom: 10px;
  margin: 10px 0;
}

.news-td-date{
  font-size: 12px;
  color: #808080;
  padding: 0 20px 0 0;
}

.news-td-mark {
  font-size: 12px;
  background: #C71585;
  border-radius: 30px;
  color: white;
  padding: 5px 20px;
}

.news-td-text {
  color: #808080;
  padding: 0 150px 0 20px;
}

/* ここからabout */
.about {
  width: 100%;
  background-color: #F5F5F5;
}

.about-headline {
  text-align: center;
  padding-top: 50px;
}

.about-header {
  font-size: 12px;
  color: #C71585;
  font-family: 'Indie Flower', cursive;
  line-height: 30px;
}

.about-title {
  font-size: 20px;
  color: #808080;
  font-weight: bold;
}

.about-main {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.about-textbox {
  font-size: 12px;
  color: #808080;
  line-height: 20px;
  padding-right: 30px;
}

.about-text2 {
  padding-top: 20px;
  padding-right: 20px;
}


.about-img {
  width: 30%;
  padding-bottom: 20px;
  padding-left:30px;
}

/* ここからservice */

.service {
  width: 100%;
  background-color: white;
}

.service-headline {
  margin: 50px auto 30px 150px;
}

.service-header {
  font-size: 12px;
  color: #C71585;
  font-family: 'Indie Flower', cursive;
  line-height: 30px;
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}

.service-wrapper {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 35% 35%;
  justify-content: center;
}

.service-card1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #C71585;
  text-align: center;
}

.service-card-img1 {
  width: 30%;
  margin: 20px auto;
}


.service-card-textbox-title1 {
  text-align: center;
  color: white;
  font-size: 16px;
}

.service-card-textbox-text1 {
  color:white;
  font-size: 12px;
  line-height: 25px;
  display: inline-block;
  text-align: left;
  padding: 10px 0 0 0;
}

.service-card2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #DDA0DD;
  display: flex;
}

.service-card-img2 {
  width: 30%;
  padding: 30px 15px;
}

.service-card-textbox-title2 {
  font-size: 16px;
  color: white;
  padding: 40px 0 10px 0;
}

.service-card-textbox-text2 {
  font-size: 12px;
  color: white;
  line-height: 20px;
}

.service-card3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: #D8BFD8;
  display: flex;
}

.service-card-img3 {
  width: 30%;
  padding: 30px 15px;
}

.service-card-textbox-title3 {
  font-size: 16px;
  color: white;
  padding: 40px 0 10px 0;
}

.service-card-textbox-text3 {
  font-size: 12px;
  color: white;
  line-height: 20px;
}

/* ここからblog */
.blog {
  width: 100%;
  background-color: #F5F5F5;
  padding: 0 0 20px 0;
}

.blog-headline {
  margin: 50px auto 30px 150px;
}

.blog-header {
  font-size: 12px;
  color: #C71585;
  font-family: 'Indie Flower', cursive;
  line-height: 30px;
  padding: 20px 0 0 0;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}

.blog-wrapper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.blog-card {
  width: 30%;
  cursor: pointer;
}

.blog-relative {
  position: relative;
}


.blog-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.blog-left-upper {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  padding: 10px 15px;
  background-color: #C71585;
  border-top-left-radius: 10px;
  color: white;
  font-weight: lighter;
}

.blog-textbox {
  padding: 10px;
  height: 100px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.blog-textbox-title {
  font-size: 12px;
  padding: 10px 0;
  line-height: 20px;
  color: #808080;
}

.blog-date-hashtag {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
  color: #808080;
  font-weight: lighter;
}

.blog-date {
  font-size: 12px;
}

.blog-hashtag {
  font-size: 12px;
}

.blog-btn-txt {
  width: 150px;
  color: #C71585;
  background-color: white;
  border: 1px solid #C71585;
  border-radius: 30px;
  padding: 15px 20px;
  text-align: center;
  display: block;
  margin: 30px auto;
}


/* ここからcompany */
.company {
  width: 100%;
  background-color: white;
}

.company-headline {
  margin: 50px auto 30px 200px;
}

.company-header {
  font-size: 12px;
  color: #C71585;
  font-family: 'Indie Flower', cursive;
  line-height: 30px;
}

.company-title {
  font-size: 20px;
  font-weight: bold;
  color: #808080;
}

.company-table {
  width: 60%;
  margin: 0 auto 50px;
  border-collapse: collapse;
}

.company-th {
  text-align: left;
}

.company-th ,.company-td {
  border: 1px solid #ccc;
  color: #808080;
  font-size: 14px;
  padding: 15px;
}

.company-th {
  font-weight: bold;
  background: #F5F5F5;
}


/* ここからcareers interview */
.careers-interview {
  width: 100%;
}

.careers-interview-flex {
  display: flex;
  position:relative;
}

.careers-img {
  width: 50vw;
}

.careers-title {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 20px;
  color: #fff;
}

.interview-img {
  width: 50vw;
  height: auto;
}

.interview-title {
  position: absolute;
  top: 50%;
  left: 70%;
  font-size: 20px;
  color: #fff;
}


/* ここからinquiry */
.inquiry {
  width: 100%;
  background-color: white;
}

.inquiry-text {
  text-align: center;
  margin: 50px auto 10px;
  font-size: 16px;
  color: #808080;
}

.inquiry-line {
  text-align: center;
  margin: 20px auto 20px;
  font-size: 30px;
  color: #C71585;
}

.inquiry-btn {
  position: relative;
}


.inquiry-btn-text {
  position: relative;
  width: 250px;
  color: white;
  padding: 25px 0;
  border-radius: 50px;
  background: linear-gradient(90deg, #C71585, #800080);
  text-align: center;
  box-shadow: 0 5px 0 #800080;
  margin: 30px auto;
  display: block;
}

.inquiry-btn-text::before {
  content: "";
  position: absolute;
  top: 32%;
  left: 15%;
  content: url(../img/mailicon.svg);
  width: 25px;
}

/* ここからfooter */
footer {
width: 100%;
background-color: #F5F5F5;
}

.copyright {
  text-align: center;
  font-size: 12px;
  display: block;
  padding: 10px 0;
  color: #808080;
  font-weight: lighter;
}